body {
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
    background: #f4f6fb;
}

.header {
    background: rgb(78, 116, 157);
    color: white;
    padding: 15px;
    text-align: center;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.left {
    flex: 2;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

.right {
    flex: 1;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

.footer {
    text-align: center;
    padding: 10px;
    background: #89a1bd;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}