body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #e6f0ff; 
    text-align: center;
}

.title {
    margin-top: 30px;
    color: #1e3a8a; 
}

.card {
    width: 300px;
    margin: 40px auto;
    padding: 20px;
    background: #ffffff;

    border-radius: 12px;          
    box-shadow: 0 6px 18px rgba(0,0,0,0.12); 

    transition: 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin-bottom: 10px;
    color: #1e3a8a; 
}

.card p {
    font-size: 14px;
    color: #444;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    padding: 10px 16px;
    background: #1e3a8a;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
    transition: 0.2s;
}

.btn:hover {
    background: #1e40af; 
}