body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    display: flex;
}

.idcard {
    width: 300px;
    padding: 20px;
    margin: 50px auto;

    background-color: blanchedalmond;
    border-radius: 15px;             
    box-shadow: 0 4px 10px rgba(0,0,0,0.5); 

    text-align: center;
}

