body {
    font-family: Arial, sans-serif;
    background-color:azure;
    padding: 40px;
}
h1 {
    text-align: center;
    margin-bottom: 40px;
    color:rgb(0, 0, 0);
}
.container {
    display: flex;                  
    justify-content: center;        
    align-items: center;            
    gap: 20px;                      
}
.box {
    width: 300px;
    height: 300px;
    background-color: #90e9b5;
    color: black;
    padding: 25px;

    display: flex;
    flex-direction: column;  

    border-radius: 18px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
.box h3 {
    margin-bottom: 15px;
    font-size: 24px;
    text-align: center;
}
.box p {
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
}