body {
    margin:0;
    font-family: 'Segoe UI', sans-serif;
}
.header {
    background-color:rgb(252, 173, 186);
    color: white;
    text-align: center;
    padding: 20px;
} 
.container {
    display: flex;
    min-height: 80vh;
}
.sidebar {
    width: 250px;
    background-color:pink;
    color: white;
    padding: 20px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.main {
    flex: 1;
    background-color: #ECF0F1;
    padding: 30px;
}
.food-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}
.footer {
    background-color:rgb(252, 173, 186);
    color: white;
    text-align: center;
    padding: 15px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
